﻿@model Fizz_Buzz.Models.FizzBuzzModel
@using PagedList.Mvc;

<hgroup class="title">
    <h1>Fizz-Buzz Testing Application</h1>
</hgroup>
@{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
}
@using (Html.BeginForm("FizzBuzz", "FizzBuzz", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(model => model.Number)
                @Html.EditorFor(model => model.Number)
                @Html.ValidationMessageFor(model => model.Number)
            </li>
            <li>
                <input name="SearchButton" type="submit" value="Search" />
            </li>
        </ol>
    </fieldset> 
    
    if (Model.SearchResults != null && Model.SearchResults.Count > 0)
    { 
    <h1>Search Results</h1>   
    <ol>
        @foreach (var Number in Model.SearchResults)
        {
            @Html.Raw(Number);
        }
    </ol>

    @Html.PagedListPager(Model.SearchResults,
          page => Url.Action("FizzBuzz", new RouteValueDictionary() 
          {
               { "Page", page },
               { "Number", Model.Number}
               
          }),
          PagedListRenderOptions.ClassicPlusFirstAndLast)
    
    }
}


